@charset 'utf-8';
@import "./_partials/header";

.container .content {
    margin: 57px auto 0;
    text-align: center;

    h1 {
        margin-bottom: 40px;
    }

    &.about {
        .profile {
            margin-top: 47px;

            &Image {
                width: 262px;
                height: 262px;
                margin: 0 auto 18px;
                background-color: $mainColor;
            }

            &Info p {
                font-size: 12px;
                font-weight: bold;
                line-height: 15px;
                letter-spacing: 1.1px;
            }
        }
    }

    &.how {
        ol {
            @include clearfix;
            width: 1140px;   
            margin: 110px auto 0;

            li {
                position: relative;
                float: left;
                width: 33%;
                color: $mainColor;
                font-size: 6px;
                line-height: 21px;

                &:not(:last-child):after {
                    position: absolute;
                    top: 5px;
                    left: 100%;
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-top: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    border-left: 6px solid $mainColor;
                    font-size: 0;
                }

                .imgWrap {
                    height: 22px;
                    margin: 0 auto 17px;
                }

                p {
                    letter-spacing: -0.1px;
                }
            }
        }
    }

    &.showReel {
        .imgWrap {
            width: 1250px;
            height: 705px;
            background: $mainColor;
        }
    }
}