#header {
  position: relative;
  height: 178px;
}

#header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -54px;
  display: inline-block;
}

#header .gnb {
  width: 1250px;
  height: 100%;
  margin: 0 auto;
}

#header .gnb:after {
  content: "";
  clear: both;
  display: block;
}

#header .gnb li {
  float: left;
  height: 100%;
}

#header .gnb li:first-child {
  margin: 0 234px 0 465px;
}

#header .gnb li:last-child {
  margin-left: 275px;
}

#header .gnb li a {
  display: block;
  height: 100%;
  line-height: 178px;
  font-size: 13px;
  font-weight: bold;
  color: #8d8d8d;
}

body {
  font-family: 'Noto Sans KR', dotum, snas-serif;
  min-width: 1250px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.2px;
  color: #161616;
}

ul,
ol,
li {
  list-style: none;
}

button {
  border: none;
  background: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.content {
  width: 1250px;
  margin: 0 auto;
}

.bottom {
  height: 650px;
  text-align: center;
}

.bottom .btnTop {
  position: fixed;
  left: 50%;
  bottom: 410px;
  margin-left: -60px;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.bottom .btnTop.down {
  bottom: 50px;
}

.bottom > img {
  padding-top: 415px;
}

.container .content {
  text-align: center;
}

.container .info {
  display: inline-block;
  margin: 0 auto;
  padding-top: 60px;
  text-align: left;
}

.container .info img {
  display: block;
  margin-bottom: 75px;
}

.container .info ul li {
  height: 23px;
  line-height: 23px;
  padding-left: 40px;
  font-size: 23px;
  letter-spacing: -0.5px;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.container .info ul li.tel {
  background-image: url(../images/contact/ico_t.png);
}

.container .info ul li.email {
  background-image: url(../images/contact/ico_e.png);
}

.container .info ul li:not(:first-child) {
  margin-top: 16px;
}
